.horizontal{
    display: flex;
    flex-direction: column;
    margin-left: 500px;
    margin-top: 50px;
    width: 350px;
    height: 150px;
    border : 3px solid purple;
    background-color: pink;
    border-radius: 5px;
    justify-content: flex-end;
    padding-bottom:15px;
    background-image: url(https://s3.pixers.pics/pixers/700/FO/13/86/92/91/1/700_FO138692911_087ac100a2937e2dcf7272d9350a33bd.jpg);  

}
    .p{
        width: 120px ;
        height: 20px ;
        margin : 2px;
        margin-left: 100px;
    }
label{
        height: 20px ;
        margin : 1px ;
        margin-left: 100px;
        font-weight: bold;
        color: purple;
}

button
{
   margin:10px;
   background-color: springgreen;
   border-radius: 5px solid ;
   color: white; 
}
